/* Admin Styles */

.image-widget-row {
	margin: 1em 0;
	position: relative;
}
.image-widget-preview {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    cursor: pointer;
}
.image-widget-remove-image {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    color: #fff;
    line-height: 1.1;
    cursor: pointer;
    padding: 0 0.4em 0.25em;
    background-color: #F21515;
    border-radius: 50%;
}
.image-widget-preview img {
	max-width: 100%;
	height: auto;
}